extends: default
ignore: |
  .travis/
  .travis.yml
  meta/

rules:
  braces:
    max-spaces-inside: 1
    level: warning
  brackets:
    max-spaces-inside: 1
    level: warning
  empty-lines:
    max: 2
  line-length:
    max: 250
  comments-indentation: disable
  new-lines: disable  # Newlines might be either depending on the OS perforce checks out to.
  truthy: disable     # Ansible seems to have standardised on yes/no.
