# ansible

#Usage of trickster:
#  -config string
#        Path to Trickster Config File
#  -instance-id int
#        Instance ID is for running multiple Trickster processes from the same config while logging to their own files.
#  -log-level string
#        Level of Logging to use (debug, info, warn, error)
#  -metrics-port int
#        Port that the /metrics endpoint will listen on.
#  -origin string
#        URL to the Origin. Enter it like you would in grafana, e.g., http://prometheus:9090
#  -origin-type string
#        Type of origin (prometheus, influxdb)
#  -proxy-port int
#        Port that the primary Proxy server will listen on.
#  -version
#        Prints trickster version

TRICKSTER_OPTS=
TRICKSTER_OPTS="${TRICKSTER_OPTS} -config /etc/trickster"
TRICKSTER_OPTS="${TRICKSTER_OPTS} -origin {{ trickster_origin_url }}"
TRICKSTER_OPTS="${TRICKSTER_OPTS} -origin-type {{ trickster_origin_type }}"
TRICKSTER_OPTS="${TRICKSTER_OPTS} -log-level {{ trickster_log_level }}"
