# ansible

# Usage of trickster:
#   -config string
#         Path to Trickster Config File
#   -instance-id int
#         Instance ID is for running multiple Trickster processes from the same config while logging to their own files
#   -log-level string
#         Level of Logging to use (debug, info, warn, error)
#   -metrics-port int
#         Port that the /metrics endpoint will listen on
#   -origin-type string
#         Type of origin (prometheus, influxdb)
#   -origin-url string
#         URL to the Origin. Enter it like you would in grafana, e.g., http://prometheus:9090
#   -proxy-port int
#         Port that the primary Proxy server will listen on
#   -validate-config
#         Validates a Trickster config and exits without running the server
#   -version
#         Prints the Trickster version

TRICKSTER_CONFIG="{{ trickster_service_config.config_file }}"
{% if trickster_service_config.origin_url is defined and trickster_service_config.origin_url | length > 0 %}
TRICKSTER_ORIGIN_URL="{{ trickster_service_config.origin_url }}"
{% endif %}
{% if trickster_service_config.origin_type is defined and trickster_service_config.origin_type | length > 0 %}
TRICKSTER_ORIGIN_TYPE="{{ trickster_service_config.origin_type }}"
{% endif %}
TRICKSTER_LOG_LEVEL="{{ trickster_service_config.log_level }}"
