---
# Trickster 2.0 Example Configuration File - Exhaustive
#
# To use this, run: trickster -config /path/to/example.full.yaml
#
# This file contains descriptions and examples for all
# Trickster configuration options. More documentation is
# available at https://github.com/trickstercache/trickster/docs/
#
# Optional configs are commented out, required configs are uncommented
# and set to common values that let you try it out with Prometheus
#
# Copyright 2018 The Trickster Authors
#

{% include 'trickster_conf/main.j2' %}

{% include 'trickster_conf/frontends.j2' %}

{% include 'trickster_conf/caches.j2' %}

{% include 'trickster_conf/backends.j2' %}

{% include 'trickster_conf/rules.j2' %}

{% include 'trickster_conf/request_rewriters.j2' %}

{% include 'trickster_conf/tracing.j2' %}

{% include 'trickster_conf/metrics.j2' %}

{% include 'trickster_conf/reloading.j2' %}

{% include 'trickster_conf/logging.j2' %}
