# Configuration options for the Trickster Frontend
{% if trickster_frontend is defined and trickster_frontend | count > 0 %}
frontend:
{% set b = trickster_frontend %}
{{ b | to_nice_yaml( indent=2, width=50, explicit_start=False, explicit_end=False) | indent(2, True) }}
{% else %}
frontend:
  # listen_port defines the port on which Tricksters Front-end HTTP Proxy server listens.
  listen_port: 8480

#   # listen_address defines the ip on which Tricksters Front-end HTTP Proxy server listens.
#   # empty by default, listening on all interfaces
#   listen_address: ''

#   # tls_listen_address defines the ip on which Tricksters Front-end TLS Proxy server listens.
#   # empty by default, listening on all interfaces
#   tls_listen_address: ''

#   # tls_listen_port defines the port on which Tricksters Front-end TLS Proxy server listens.
#   # The default is 0, which means TLS is not used, even if certificates are configured below.
#   tls_listen_port: 0

#   # connections_limit defines the maximum number of concurrent connections
#   # Tricksters Proxy server may handle at any time.
#   # 0 by default, unlimited.
#   connections_limit: 0
{% endif %}
