# # Configuration Options for Logging Instrumentation
{% if trickster_logging is defined and trickster_logging | count > 0 %}
logging:
{% set b = trickster_logging %}
{{ b | to_nice_yaml( indent=2, width=50, explicit_start=False, explicit_end=False) | indent(2, True) }}
{% else %}
# logging:
#   # log_level defines the verbosity of the logger. Possible values are debug, info, warn, error
#   # default is info
#   log_level: info

#   # log_file defines the file location to store logs. These will be auto-rolled and maintained for you.
#   # not specifying a log_file (this is the default behavior) will print logs to STDOUT
#   log_file: /some/path/to/trickster.log
{% endif %}
