# # Configuration Options for Metrics Instrumentation
{% if trickster_metrics is defined and trickster_metrics | count > 0 %}
metrics:
{% set b = trickster_metrics %}
{{ b | to_nice_yaml( indent=2, width=50, explicit_start=False, explicit_end=False) | indent(2, True) }}
{% else %}
# metrics:
#   # listen_port defines the port that Tricksters metrics server listens on at /metrics
#   # 8481 is the default
#   listen_port: 8481
#   # listen_address defines the ip that Tricksters metrics server listens on at /metrics
#   # empty by default, listening on all interfaces
#   listen_address: ''
{% endif %}
